# **Análise: Dados eleitorais**
Grupo: Bianca Muniz, Jamile Santana, Jessica Avelar, Kaluan Bernardo e Thiago Araújo

In [ ]:
# Importando as bibliotecas
import pandas as pd #para abrir e manipular as bases
import statistics #para o cálculo da moda
!pip install altair #instalando a biblioteca altair
import altair as alt #para as visualizações gráficas

In [ ]:
# Lendo os arquivos com o pandas (o link abre a planilha já filtrada pelo estado do RJ)
despesas = pd.read_csv("https://raw.githubusercontent.com/biamuniz/mjda_insper/main/inferencia_causal/atividade%201/dados/despesas_rio.csv", sep=";")
prefeitos = pd.read_csv("https://raw.githubusercontent.com/biamuniz/mjda_insper/main/inferencia_causal/atividade%201/dados/prefeitos_rio.csv", sep=";")
resultados = pd.read_csv("https://raw.githubusercontent.com/biamuniz/mjda_insper/main/inferencia_causal/atividade%201/dados/resultados_rio.csv", sep=";")

Qual o valor total, máximo, mínimo, média e mediana de despesas por município?

In [2]:
despesas_rj = pd.read_csv("https://raw.githubusercontent.com/biamuniz/mjda_insper/main/inferencia_causal/atividade%201/despesas_rio.csv", sep=";")
despesas_rj

In [17]:
# Para responder à pergunta, fizemos uma tabela dinâmica
variaveis = despesas_rj.columns.difference(set(['muni']).union(set([])).union(set({'valor'}))) # Acho que selecionei as colunas que eu quero olhar (município e valor da despesa)
variaveis2 = despesas_rj.drop(variaveis, axis=1) # Não sei o que significa
# Fazendo a tabela dinâmica
pivot_table = variaveis2.pivot_table(
    index=['muni'],
    values=['valor'],
    aggfunc={'valor': ['sum', 'mean', 'min', 'max', 'median', 'count']}
)


# Reset the column name and the indexes
tabela_municipio = pivot_table.reset_index()

In [18]:
tabela_municipio

                  muni valor
                       count      max         mean  median   min         sum
0       ANGRA DOS REIS  2775  75000.0   677.152411  270.00  0.10  1879097.94
1              APERIBÉ   156  12000.0   643.633654  200.00  6.95   100406.85
2             ARARUAMA  2418  53000.0   559.114657  242.00  0.07  1351939.24
3                AREAL   103  17694.0  1375.508738  700.00  6.45   141677.40
4   ARMAÇÃO DOS BÚZIOS  1463  38000.0   632.015277  350.00  0.35   924638.35
..                 ...   ...      ...          ...     ...   ...         ...
87           TRÊS RIOS   928  33000.0   958.120259  300.00  0.35   889135.60
88             VALENÇA   980  15000.0   516.720643  250.00  1.00   506386.23
89           VARRE-SAI    92  21439.0  1219.088913  116.25  0.35   112156.18
90           VASSOURAS   639  25000.0   669.433881   91.50  0.35   427768.25
91       VOLTA REDONDA  1824  65127.0   761.379320  127.30  0.35  1388755.88

[92 rows x 7 columns]

In [25]:
# Despesas por partido
unused_columns = despesas_rj.columns.difference(set(['partido']).union(set([])).union(set({'valor'})))
tmp_df = despesas_rj.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['partido'],
    values=['valor'],
    aggfunc={'valor': ['sum', 'mean', 'min', 'max', 'median', 'count']}
)


# Reset the column name and the indexes
despesa_partido = pivot_table.reset_index()

In [26]:
despesa_partido

          partido valor
                  count        max         mean  median     min          sum
0          AVANTE  2255   150000.0  1189.873650  300.00    0.35   2683165.08
1       CIDADANIA  2900    67000.0  1090.830969  320.00    0.35   3163409.81
2              DC   422    10000.0   629.025640  194.00    0.35    265448.82
3             DEM  8713  1450000.0  1757.972387  197.00    0.35  15317213.41
4             MDB  6928   875000.0   952.869008  300.00    0.01   6601476.49
5            NOVO   336    70000.0  3526.924524  600.00    1.20   1185046.64
6        PATRIOTA   542    35000.0   924.514280  200.00    0.35    501086.74
7         PC do B   671    37000.0   951.041133  214.36    0.35    638148.60
8             PDT  8146   750000.0  2013.411704  250.00    0.10  16401251.74
9              PL  9126   100000.0   936.653192  267.50    0.07   8547897.03
10            PMB  1134   120000.0   652.153377  100.00    0.35    739541.93
11            PMN   136    12952.0   504.266324   53.50    2.00     68580.22
12           PODE   807    50000.0  1150.027794  250.00    0.06    928072.43
13             PP  7356   100000.0   822.847993  300.00    0.30   6052869.84
14           PROS  2103   355000.0  1344.549016  150.00    0.08   2827586.58
15           PRTB  1154    38000.0   564.431733  225.00    0.35    651354.22
16            PSB  1422   100000.0  1180.852785  380.00    0.35   1679172.66
17            PSC  7560   800000.0  1030.372085  250.00    0.35   7789612.96
18            PSD  8403    60000.0   625.747664  200.00    0.35   5258157.62
19           PSDB  2820    97500.0   946.068936  200.00    0.35   2667914.40
20            PSL  4807   700000.0  1896.059576  365.00    0.35   9114358.38
21           PSOL  1922    53000.0  1417.972175  400.00    0.35   2725342.52
22           PSTU   105     8000.0   776.783619  200.00    1.15     81562.28
23             PT  8495   850000.0  1333.330031  270.00    0.35  11326638.61
24            PTB  1641    45000.0  1128.097331  350.00    0.35   1851207.72
25            PTC  1017    80000.0   915.470285  290.00    0.02    931033.28
26             PV   237    20000.0  1244.717679  350.00    0.35    294998.09
27           REDE   395   104553.0  5541.969266  900.00    0.04   2189077.86
28   REPUBLICANOS  7541   500000.0  1483.415833  300.00    0.05  11186438.80
29  SOLIDARIEDADE  4823   140000.0   837.670116  250.00    0.35   4040082.97
30             UP     3      989.4   533.333333  500.60  110.00      1600.00